{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mouse Test</title>
	
	<style>
		html, body {
		  width:  100%;
		  height: 100%;
		  margin: 0;
		}
	</style>
</head>
<body>
	<div id="mouses"></div>
	<canvas id="mouseCanv"></canvas>

    <script>
		let users = new Set([]);
		
		
		let drawing = false;
		let c = document.getElementById("mouseCanv");
		let ctx = c.getContext("2d");
		
		
		c.width = window.innerWidth;
		c.height = window.innerHeight;

        let bufferMousePos = [0, 0];
		let lastBMP = [0, 0];
		
		let noServer = false;
		let myTestID = 3;

        let mouseSocket = null;
		
		let parseMsg = function(e) {
            const data = JSON.parse(e.data);
			
			if (data.evtType == "mousemoved") {
				if (!users.has(data.userID)) {  // a new user joined
				
					let img = document.createElement('img');
					img.setAttribute('id', 'cursor' + data.userID);
					img.setAttribute('src', "{% static 'cursor.png' %}");
					img.setAttribute('alt', 'cursor' + data.userID);
					img.setAttribute('width', '30px');
					img.style.position = 'fixed';
					img.style.filter = 'hue-rotate(' + data.userID * 30 * Math.PI + 'deg)';
					img.ondragstart = function() { return false; };
					document.getElementById('mouses').appendChild(img);
					
					users.add(data.userID);
				}

				let cursor = document.getElementById('cursor' + data.userID);
				
				// TODO User leave message

				cursor.style.top = 100 * data.posY  + '%';
				cursor.style.left = 100 * data.posX + '%';
				
			} else if (data.evtType == "drawsegment") {
			
				const width  = window.innerWidth || document.documentElement.clientWidth ||
				document.body.clientWidth;
				const height = window.innerHeight|| document.documentElement.clientHeight||
				document.body.clientHeight;
			
				ctx.beginPath();
				ctx.moveTo(data.startX*width, data.startY*height);
				ctx.lineTo(data.endX*width, data.endY*height);
				ctx.lineWidth = 6;
				ctx.strokeStyle = 'hsl('+ data.userID * 30 * Math.PI + ', 100%, 50%)';
				ctx.stroke();
				
			} else if (data.evtType == "clearall") {
			
				
			}
            
        };

		if (!noServer) {
			mouseSocket = new WebSocket(
				'ws://'
				+ window.location.host
				+ '/ws/mouse/'
			)


			mouseSocket.onmessage = parseMsg;

			mouseSocket.onclose = function(e) {
				console.error('Mouse socket closed unexpectedly');
			};
		}

        document.onmousemove = function (e) {

            const width  = window.innerWidth || document.documentElement.clientWidth ||
            document.body.clientWidth;
            const height = window.innerHeight|| document.documentElement.clientHeight||
            document.body.clientHeight;

            bufferMousePos = [e.pageX / width, e.pageY / height]
        }
		
		
		document.onmousedown = function(e) {
			drawing = true;
		}
		
		document.onmouseup = function(e) {
			drawing = false;
		}
		
		document.onclick = function(e) {
			drawing = false;
		}
		
		
        window.addEventListener('resize', (e) => {
			c.width = window.innerWidth;
            c.height = window.innerHeight;
		}, false);
		

        tickFunc = function(a) {
		
			if (drawing) {
			
				if (noServer) {
				
					parseMsg({
						'data': JSON.stringify({
							'evtType': 'drawsegment',
							'userID': myTestID,
							'startX': lastBMP[0],
							'startY': lastBMP[1],
							'endX': bufferMousePos[0],
							'endY': bufferMousePos[1]
						})
					});
				
				} else {
					mouseSocket.send(JSON.stringify({
                        'evtType': 'newsegment',
                        'startX': lastBMP[0],
                        'startY': lastBMP[1],
                        'endX': bufferMousePos[0],
                        'endY': bufferMousePos[1]
				    }));
				}
			}
			
			
			
			
			if (noServer) {
			
				parseMsg({
					'data': JSON.stringify({
						'evtType': 'mousemoved',
						'userID': myTestID,
						'posX': bufferMousePos[0],
						'posY': bufferMousePos[1]
					})
				});
			
			} else {
				mouseSocket.send(JSON.stringify({
					'evtType': 'mousepos',
					'posX': bufferMousePos[0],
					'posY': bufferMousePos[1]
				}));
			}
			
		
			lastBMP = bufferMousePos;

        }
		
        setInterval(tickFunc, 100);

    </script>
</body>
</html>