{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mouse Test</title>
	
	<style>
	
		html, body {
			width:  100%;
			height: 100%;
			margin: 0;
			padding: 0;
		}
		
		
		#container {
			width: 100%;
			height: 100%;
			position: relative;
			
			margin: 0;
			padding: 0;

            touch-action: none;
			
			<!--
			background-color: red;
			-->
		}
		
		#overlay, #mouses, canvas {
			margin: 0;
			padding: 0;
			position: absolute; top: 0; left: 0;
		}
		
		canvas {
			width: 100%; height: 100%;
		}

        #overlay {
            z-index: 1;
        }
	</style>
</head>
<body>
	<div id="container">
		<div id="overlay">
			<p id="segs">segments received = 0</p><br>
			<button id="clearBtn">Clear all</button>
		</div>
		<div id="mouses"></div>
		<canvas id="mouseCanv"></canvas>
	</div>

    <script>
		let users = new Set([]);
		
		
		let drawing = false;
		let c = document.getElementById("mouseCanv");
		let ctx = c.getContext("2d");
		
		
		c.width = window.innerWidth;
		c.height = window.innerHeight;

        let bufferMousePos = [0, 0];
		let lastBMP = [0, 0];
		
		let noServer = false;
		let myTestID = 3;
		
		let segs = 0;

        let mouseSocket = null;

        let segsCounter = document.getElementById('segs');
		
		let parseMsg = function(e) {
            const data = JSON.parse(e.data);
			
			if (data.evtType === "mousemoved") {
				if (!users.has(data.userID)) {  // a new user joined
				
					let img = document.createElement('img');
					img.setAttribute('id', 'cursor' + data.userID);
					img.setAttribute('src', "{% static 'cursor.png' %}");
					img.setAttribute('alt', 'cursor' + data.userID);
					img.setAttribute('width', '30px');
					img.style.position = 'fixed';
					img.style.zIndex = '-5';
					img.style.filter = 'hue-rotate(' + data.userID * 30 * Math.PI + 'deg)';
					img.ondragstart = function() { return false; };
					document.getElementById('mouses').appendChild(img);
					
					users.add(data.userID);
				}

				let cursor = document.getElementById('cursor' + data.userID);
				
				// TODO User leave message

				cursor.style.top = 100 * data.posY  + '%';
				cursor.style.left = 100 * data.posX + '%';
				
			} else if (data.evtType === "drawsegment") {
			
				const width  = window.innerWidth || document.documentElement.clientWidth ||
				document.body.clientWidth;
				const height = window.innerHeight|| document.documentElement.clientHeight||
				document.body.clientHeight;
			
				ctx.beginPath();
				ctx.moveTo(data.startX*width, data.startY*height);
				ctx.lineTo(data.endX*width, data.endY*height);
				ctx.lineWidth = 6;
				ctx.strokeStyle = 'hsl('+ data.userID * 30 * Math.PI + ', 100%, 50%)';
				ctx.stroke();
				
				segs++;
				document.getElementById('segs').innerHTML = 'segments received = '+segs;
				
				
			} else if (data.evtType === "clearall") {
				c.width = window.innerWidth;
				c.height = window.innerHeight;
				segs = 0;
				segsCounter.innerHTML = 'segments received = '+segs;
				
			} else if (data.evtType === "dumpsegments") {
				var count = data.list.length;
					
				const width  = window.innerWidth || document.documentElement.clientWidth ||
				document.body.clientWidth;
				const height = window.innerHeight|| document.documentElement.clientHeight||
				document.body.clientHeight;
				
				
				var s = null;
				
				for (var i = 0; i < count; i++) {
					s = data.list[i];
					
				
					ctx.beginPath();
					ctx.moveTo(s.startX*width, s.startY*height);
					ctx.lineTo(s.endX*width, s.endY*height);
					ctx.lineWidth = 6;
					ctx.strokeStyle = 'hsl('+ s.userID * 30 * Math.PI + ', 100%, 50%)';
					ctx.stroke();
				}
					
				segs = segs + count;
				
				segsCounter.innerHTML = 'segments received = '+segs;
			} else if (data.evtType === "delmouse") {
			
				document.getElementById('cursor' + data.userID).remove();
			
			}
            
        };

		if (!noServer) {
			mouseSocket = new WebSocket(
				'ws://'
				+ window.location.host
				+ '/ws/mouse/'
			)


			mouseSocket.onmessage = parseMsg;

			mouseSocket.onclose = function(e) {
				console.error('Mouse socket closed unexpectedly');
			};
		}

        document.onmousemove = function (e) {

            const width  = window.innerWidth || document.documentElement.clientWidth ||
            document.body.clientWidth;
            const height = window.innerHeight|| document.documentElement.clientHeight||
            document.body.clientHeight;

            bufferMousePos = [e.pageX / width, e.pageY / height]
        }
		
		
		document.onmousedown = function(e) {
			drawing = true;
		}
		
		document.onmouseup = function(e) {
			drawing = false;
		}
		
		document.onclick = function(e) {
			drawing = false;
		}
		
		
        window.addEventListener('resize', (e) => {
			c.width = window.innerWidth;
            c.height = window.innerHeight;
		}, false);
		
		document.getElementById("clearBtn").addEventListener("click", (e) => {
			if (noServer) {
				
				parseMsg({
					'data': JSON.stringify({
						'evtType': 'clearall'
					})
				});
			
			} else {
				mouseSocket.send(JSON.stringify({
					'evtType': 'clearall'
				}));
			}
		});
		

        tickFunc = function(a) {
		
			if (drawing && !(lastBMP === bufferMousePos)) {
			//if (drawing) {
			
				if (noServer) {
				
					parseMsg({
						'data': JSON.stringify({
							'evtType': 'drawsegment',
							'userID': myTestID,
							'startX': lastBMP[0],
							'startY': lastBMP[1],
							'endX': bufferMousePos[0],
							'endY': bufferMousePos[1]
						})
					});
				
				} else {
					mouseSocket.send(JSON.stringify({
                        'evtType': 'newsegment',
                        'startX': lastBMP[0],
                        'startY': lastBMP[1],
                        'endX': bufferMousePos[0],
                        'endY': bufferMousePos[1]
				    }));
				}
			}
			
			
			
			
			if (noServer) {
			
				parseMsg({
					'data': JSON.stringify({
						'evtType': 'mousemoved',
						'userID': myTestID,
						'posX': bufferMousePos[0],
						'posY': bufferMousePos[1]
					})
				});
			
			} else {
				mouseSocket.send(JSON.stringify({
					'evtType': 'mousepos',
					'posX': bufferMousePos[0],
					'posY': bufferMousePos[1]
				}));
			}
			
		
			lastBMP = bufferMousePos;

        }
		
        setInterval(tickFunc, 100);

        // handles touch events
        function touchEventStartup() {
            let c = document.getElementById("mouseCanv");
            c.addEventListener("touchstart", handleTouchStart, false);
            c.addEventListener("touchmove", handleTouchMove, false);
            c.addEventListener("touchcancel", handleTouchCancelAndEnd, false);
            c.addEventListener("touchend", handleTouchCancelAndEnd, false);
        }

        document.addEventListener("DOMContentLoaded", touchEventStartup);

        function handleTouchStart(e) {
            e.preventDefault();
            let touches = e.changedTouches;
            const width  = window.innerWidth || document.documentElement.clientWidth ||
            document.body.clientWidth;
            const height = window.innerHeight|| document.documentElement.clientHeight||
            document.body.clientHeight;
            bufferMousePos = [touches[0].pageX/width, touches[0].pageY/height]
            lastBMP = bufferMousePos  // this is after the new bufferMousePos on purpose, don't move it up!
                // if it would be in front, sometimes a line gets drawn from the last mouse pos to the new touch
            drawing = true;
        }

        function handleTouchMove(e) {
            e.preventDefault();
            let touches = e.changedTouches;
            const width  = window.innerWidth || document.documentElement.clientWidth ||
            document.body.clientWidth;
            const height = window.innerHeight|| document.documentElement.clientHeight||
            document.body.clientHeight;
            bufferMousePos = [touches[0].pageX/width, touches[0].pageY/height]
        }

        function handleTouchCancelAndEnd(e) {
            e.preventDefault();
            drawing = false;
        }

    </script>
</body>
</html>
